<h1>New user</h1>
<div class="row">
<%= render 'form' %>
<div class="col-xs-3">
<%= link_to 'Back', users_path ,:class=>"btn btn-info" %>
</div>
</div>
<style type="text/css">
.col-xs-3 {
  margin-top:1.5%;
  width:5%;
}
</style>