
    <style type="text/css">
        h4 { font-size: 16px; font-family: "Trebuchet MS", Verdana; line-height:18px;} 
    </style>
    <div style="margin: 100px auto; width: 600px;">    
        <p>demo1 &nbsp; <a href="demo2">demo2</a> &nbsp; <a href="demo3">demo3</a> &nbsp; <a href="demo4">demo4</a></p>
        <h4>1. tooltip.pop(targetElement, text [, options])</h4>
        <span class="tooltip" onmouseover="tooltip.pop(this, '<h3>Lorem ipsum</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in consequat neque, eget tempor ipsum.')">Hover me</span>
        <p>Email: <input type="text" onfocus = "tooltip.pop(this, 'Trigger by onfocus event: <br />Ensure your email is valid and correct.');" /></p>
        <h4>2. tooltip.pop(targetElement, '#contentElementId' [, options])</h4>
        <a class="tooltip" href="#demo2_tip" onmouseover="tooltip.pop(this, '#demo2_tip')">Hover me</a>
        <div style="display:none;">
            <div id="demo2_tip">
                <img src="/assets/tooltips.gif" style="float:right;margin-left:12px;" alt="" />
                <b>SEO</b><br /><br />
                The tooltip content comes from an element on the page. So this approach is <strong>Search Engine Friendly</strong>.
            </div>
        </div>
    </div>
